<Attack>
	<DbId>F3CE345BAF3442B48B2668809722032D</DbId>
	<ParentDbId>00000000000000000000000000000000</ParentDbId>
	<AttackId>PE_01</AttackId>
	<AttackValue></AttackValue>
	<AttackVulnUrl>https://test.t.example.com/en/help</AttackVulnUrl>
	<AttackPostParams></AttackPostParams>
	<AttackMatchedString>OK</AttackMatchedString>
	<AttackDescription>Server allowed access to the resource without valid session</AttackDescription>
	<AttackConfigDescription>Privilege Escalation</AttackConfigDescription>
	<AttackUserNotes></AttackUserNotes>
	<OriginalValue></OriginalValue>
	<OriginalResponseCode>200</OriginalResponseCode>
	<AttackRequestList>
		<AttackRequest>
			<DbId>0D9D750204F742E3B0FC513BFA1EABC9</DbId>
			<ParentDbId>00000000000000000000000000000000</ParentDbId>
			<Request>R0VUIC9lbi9oZWxwP3N1.....mlvDQoNCg==</Request>
<Response>SFRUUC8xLjEgMjAwIE9LDQpDYWNoZ.....ib2R5Pgo8L2h0bWw+Cg==</Response>
			<Benign>0</Benign>
		</AttackRequest>
		<AttackRequest>
			<DbId>D12FBA19C7AD4279A0D698D14D6480BE</DbId>
			<ParentDbId>00000000000000000000000000000000</ParentDbId>
			<Request>R0VUIC9lbi9oZWxwIEhUVFA.....N0LnQuZ2FiLmlvL2VuLw0KDQo=</Request>
<Response>SFRUUC8xLjEgMjAwIE9LDQpD.....PC9ib2R5Pgo8L2h0bWw+Cg==</Response>
			<Benign>0</Benign>
		</AttackRequest>
	</AttackRequestList>
</Attack>
