<Vuln>
	<DbId>12F3E8EB183249F6B99039D2E0F6AB1B</DbId>
	<ParentDbId>00000000000000000000000000000000</ParentDbId>
	<ScanName>Example</ScanName>
	<WebSite>https://test.t.example.com:443</WebSite>
	<WebSiteIP>10.11.10.8</WebSiteIP>
	<VulnType>Privilege Escalation</VulnType>
	<VulnUrl>https://test.t.example.com/en/help</VulnUrl>
	<NormalizedUrl>https://test.t.example.com/en/help</NormalizedUrl>
	<MatchedString>OK</MatchedString>
	<NormalizedPostParams></NormalizedPostParams>
	<VulnParam></VulnParam>
	<ParameterName>N/A</ParameterName>
	<HtmlEntityAttacked>URL</HtmlEntityAttacked>
	<ModuleId>433C43A54C714F08B822B7932D410A78</ModuleId>
	<AttackType>Privilege Escalation</AttackType>
	<AttackScore>2-Low</AttackScore>
	<AttackValue>N/A</AttackValue>
	<OriginalValue>N/A</OriginalValue>
	<Method>N/A</Method>
	<RootCauseId>27E938574D526F62DE4FD063F81159FF</RootCauseId>
	<LuxorRootCauseId>9B1FF1FBC10827468899ACDF4EDF865E</LuxorRootCauseId>
	<FindingDbId>9CFD9BA94ADD4E5C9715277A37F7822C</FindingDbId>
	<Description>
		<![CDATA[<p>Privilege escalation occurs when a user gets access to more resources or functionality than they are normally allowed, 
		and such elevation/changes should have been prevented by the application. This is usually caused by a flaw in the application. 
	The result is that the application performs actions with more privileges than those intended by the developer or system administrator</p>]]></Description>
	<Recommendation>
		<![CDATA[<p>The most important step is to think through an application’s access control requirements and capture it in a web application security policy. 
		We strongly recommend the use of an access control matrix to define the access control rules. Without documenting the security policy, 
		there is no definition of what it means to be secure for that site. The policy should document what types of users can access the system, 
		and what functions and content each of these types of users should be allowed to access. The access control mechanism should be extensively 
		tested to be sure that there is no way to bypass it. This testing requires a variety of accounts and extensive attempts to access unauthorized 
		content or functions.

		<br/>
		Forced Browsing Past Access Control Checks – many sites require users to pass certain checks before being granted access to certain URLs 
	that are typically ‘deeper’ down in the site. These checks must not be bypassable by a user that simply skips over the page with the security check</p>]]></Recommendation>
	<Page>https://test.t.example.com/en/help</Page>
	<Url>https://test.t.example.com/en/help</Url>
	<VulnParamType>unknown</VulnParamType>
	<CrawlTraffic>R0VUIC9lbi9oZWxwP3N1YmplY3Q.....MGNiOTEwDQoNCg==</CrawlTraffic>
	<CrawlTrafficTemplate>R0VUIC9lbi9oZWxwP3N1YmplY3.....GNiOTEwDQoNCg==</CrawlTrafficTemplate>
<CrawlTrafficResponse>SFRUUC8xLjEgMjAwIE9LDQpDYWNoZS1Db250.....aXB0PgoKPC9ib2R5Pgo8L2h0bWw+Cg==</CrawlTrafficResponse>
	<AttackClass>Application Developer</AttackClass>
	<CweId>264</CweId>
	<CAPEC>0</CAPEC>
	<DISSA_ASC>3500</DISSA_ASC>
	<OWASP2007>7</OWASP2007>
	<OWASP2010>3</OWASP2010>
	<OWASP2013>2</OWASP2013>
	<OWASP2017>2</OWASP2017>
	<OVAL>0</OVAL>
	<WASC>0</WASC>
	<ScanDate>2018-03-19 16:30:53</ScanDate>
	<ScanEnd>2018-03-19 16:48:09</ScanEnd>
	<StatisticallyPrevalentOriginalResponseCode>200</StatisticallyPrevalentOriginalResponseCode>
	<Confidence>Medium</Confidence>
	<DefenseBL>
		<DbId>F82B40D423864661A41C9F1323CAB60B</DbId>
		<ParentDbId>613A47F32E334362AABEC26B51312380</ParentDbId>
		<PcreRegex></PcreRegex>
		<ModSecurity></ModSecurity>
		<Snort></Snort>
		<Imperva></Imperva>
	</DefenseBL>
	<DefenseWL>
		<DbId>230A37C28D764DF5A1E7D1B66C154659</DbId>
		<ParentDbId>613A47F32E334362AABEC26B51312380</ParentDbId>
		<PcreRegex></PcreRegex>
		<ModSecurity></ModSecurity>
		<Snort></Snort>
		<Imperva></Imperva>
	</DefenseWL>
	<AttackList>
		<Attack>
			<DbId>F3CE345BAF3442B48B2668809722032D</DbId>
			<ParentDbId>00000000000000000000000000000000</ParentDbId>
			<AttackId>PE_01</AttackId>
			<AttackValue></AttackValue>
			<AttackVulnUrl>https://test.t.example.com/en/help</AttackVulnUrl>
			<AttackPostParams></AttackPostParams>
			<AttackMatchedString>OK</AttackMatchedString>
			<AttackDescription>Server allowed access to the resource without valid session</AttackDescription>
			<AttackConfigDescription>Privilege Escalation</AttackConfigDescription>
			<AttackUserNotes></AttackUserNotes>
			<OriginalValue></OriginalValue>
			<OriginalResponseCode>200</OriginalResponseCode>
			<AttackRequestList>
				<AttackRequest>
					<DbId>0D9D750204F742E3B0FC513BFA1EABC9</DbId>
					<ParentDbId>00000000000000000000000000000000</ParentDbId>
					<Request>R0VUIC9lbi9oZWxwP3N1.....mlvDQoNCg==</Request>
<Response>SFRUUC8xLjEgMjAwIE9LDQpDYWNoZ.....ib2R5Pgo8L2h0bWw+Cg==</Response>
					<Benign>0</Benign>
				</AttackRequest>
				<AttackRequest>
					<DbId>D12FBA19C7AD4279A0D698D14D6480BE</DbId>
					<ParentDbId>00000000000000000000000000000000</ParentDbId>
					<Request>R0VUIC9lbi9oZWxwIEhUVFA.....N0LnQuZ2FiLmlvL2VuLw0KDQo=</Request>
<Response>SFRUUC8xLjEgMjAwIE9LDQpD.....PC9ib2R5Pgo8L2h0bWw+Cg==</Response>
					<Benign>0</Benign>
				</AttackRequest>
			</AttackRequestList>
		</Attack>
		<Attack>
			<DbId>24E4628D02CB4EF88C6DD5A4CC3A9649</DbId>
			<ParentDbId>00000000000000000000000000000000</ParentDbId>
			<AttackId>PE_01</AttackId>
			<AttackValue></AttackValue>
			<AttackVulnUrl>https://test.t.example.com/en/help</AttackVulnUrl>
			<AttackPostParams></AttackPostParams>
			<AttackMatchedString>OK</AttackMatchedString>
			<AttackDescription>Server allowed access to the resource without valid session</AttackDescription>
			<AttackConfigDescription>Privilege Escalation</AttackConfigDescription>
			<AttackUserNotes></AttackUserNotes>
			<OriginalValue></OriginalValue>
			<OriginalResponseCode>200</OriginalResponseCode>
			<AttackRequestList>
				<AttackRequest>
					<DbId>658B7A8BA3414DF38F98E55CF3C6A531</DbId>
					<ParentDbId>00000000000000000000000000000000</ParentDbId>
					<Request>R0VUIC9lbi9oZWxwP3N.....YWIuaW8NCg0K</Request>
<Response>SFRUUC8xLjEgMjAwIE9LD.....2R5Pgo8L2h0bWw+Cg==</Response>
					<Benign>0</Benign>
				</AttackRequest>
				<AttackRequest>
					<DbId>90B1D05DE89E4276A5BF156DD037773C</DbId>
					<ParentDbId>00000000000000000000000000000000</ParentDbId>
					<Request>R0VUIC9lbi9oZWxw.....Z2FiLmlvL2VuLw0KDQo=</Request>
<Response>SFRUUC8xLjEgMjAwI.....9ib2R5Pgo8L2h0bWw+Cg==</Response>
					<Benign>0</Benign>
				</AttackRequest>
			</AttackRequestList>
		</Attack>
	</AttackList>
</Vuln>